
*.vcxproj
*.obj
Backup*
*.filters

*.sdf
*.sln
*.dll
*.htm
*.xml
*.exe
*.idb
*.log
*.opensdf
DEBUG/

*.suo

.vs/
.gitattributes
*.cd
!*.cpp
!*.h
!corona.*
!/resource/*
!2DEngine.vcproj
!GL*/**
*.user
*.db