*.obj
Backup*
*.filters
*.vcxproj
*.sdf
*.sln
*.dll
*.htm
*.xml
*.exe
*.idb
*.log
*.opensdf
DEBUG/
*.user
*.suo
*.db
.vs/
.gitattributes

!*.cpp
!*.h
!corona.*
!/resource/*
!2DEngine.vcproj
!2DEngine.vcxproj
!GL*/**

